/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #svelte { @apply w-full h-full; }

a, a:active, a:focus {
   outline: none;
}